.titulo{
    color: white;
    text-align: center;
    padding: 20px;
    background-color: black;
    font-size: 25px;
}

body, html{
    background-color: #2f4f30;
    margin: 0px;
    color: white;
}

.carta{
    width: 150px; 
    position: relative;
    left: 100px;
    margin-left: -75px;
}